@use '@core' as Core;

.thumb_vehicle {
  &-like {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: transparent;
    border-radius: 999px;
    background-color: map-get(Core.$brand, 'grey');
    cursor: pointer;
    box-shadow: 0 0 20px rgba(black, 0.1);

    svg {
      position: relative;
      top: 1px;

      path {
        stroke: map-get(Core.$brand, 'platinum');
      }
    }

    &.active {
      svg path {
        fill: map-get(Core.$brand, 'gold');
        stroke: map-get(Core.$brand, 'gold');
      }
    }
  }
}
