$brand: (
  'black': #000000,
  'gold': #ab8e66,
  'grey': #f7f8fa,
  'white': #ffffff,
  'platinum': #718198,
  'platinum-medium': #3b4758,
  'platinum-dark': #1c1c1c,
);

$breakpoint: (
  'xs': 414px,
  'sm': 568px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1220px,
);

$site: (
  'font-size--m': 15px,
  'font-size--d': 18px,
  'font-body': (
    'Inter',
    'sans-serif',
  ),
  'font-heading': (
    'Playfair Display',
    'serif',
  ),
  'transition': 0.15s ease-out,
);
