@use '@core' as Core;

// -------------------------------
// Component Specific Placeholders
// -------------------------------

%hide_mobile {
  display: none;
  @include Core.breakpoint(md) {
    display: block;
  }
}

%align_middle {
  display: flex;
  align-items: center;
}

// ------------
// Block Styles
// ------------

$settings: (
  'sticky': false,
);
.nav_primary {
  // Ready for if feedback asks for a sticky nav
  @if (map-get($settings, 'sticky') == true) {
    position: sticky;
    top: 0;
  }

  display: flex;
  padding: 25px 32px;
  margin-bottom: 48px;
  gap: 1em;
  background-color: map-get(Core.$brand, 'white');
  @include Core.breakpoint(md) {
    padding: 2.1em 2.2em;
    margin-bottom: 102px;
  }

  // Element Styles
  // --------------

  &-about {
    font-size: map-get(Core.$site, 'font-size--m') - 1;
    color: map-get(Core.$brand, 'platinum');
    cursor: pointer;
    transition: all map-get(Core.$site, 'transition');
    @include Core.hover {
      color: map-get(Core.$brand, 'gold');
    }
  }

  &-about_us {
    @extend %align_middle;
    display: none;
    @include Core.breakpoint(md) {
      display: flex;
    }
  }

  &-btn_like {
    @extend %align_middle;
  }

  &-contact {
    @extend %hide_mobile;
  }

  &-liked {
    margin-left: 1.5em;
    background-color: map-get(Core.$brand, 'grey');
    border-radius: 999px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include Core.breakpoint(md) {
      margin-left: 0;
    }

    svg {
      path {
        fill: none;
        stroke: map-get(Core.$brand, 'gold');
      }
    }
  }

  &-logo {
    flex-grow: 1;

    a {
      display: inline-flex;
      height: 100%;
      align-items: center;
    }
  }

  &-menu_btn {
    display: flex;
    height: 100%;
    align-items: center;
    width: 27px;
    @include Core.breakpoint(md) {
      display: none;
    }

    svg {
      width: 100%;
      stroke: white;

      path {
        fill: map-get(Core.$brand, 'gold');
      }
    }
  }
}
